<h1>Name: <%= @studio.name %></h1>
<h2>Location: <%= @studio.location %></h2>

<h3>Movies: <% @movies.each do |movie|%></h3>
  <ul> - <%= movie.title %></ul>
<% end %>

<h3>Actors: <% @movies.each do |movie|%></h3>
  <% movie.actors.name%>
<% end %>
